---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout subtitle="about">
  <div class="container">
    <p>
      <span class="bonny-text">bonny</span>
      <span class="systems-text">systems</span>
      was created in january 2024 by me, <a
        href="https://sammy.pizza"
        target="_blank">sammy samkough</a
      >
      <p>
        for the past 5+ years, i've worked for various companies of all
        different shapes and sizes as a software engineer
      </p>
      <p>
        from new jersey, to new york, and even san francisco. most as a
        full-timer, other's as a part-timer, and a lot in a contracting
        capacity. a few of them were large companies, but the majority were
        startups, most of the time being one of their first engineers
      </p>
      <p>
        i've helped build mobile apps, large web applications, and also small
        admins. getting my hands involved in all sorts of technologies from
        swift, to react, to next.js, to svelte, to django, to node.js, to
        firebase, to postgres, to ASP.NET, and many more. i haven't used them
        all (and never will), but i sure have used a lot of them
      </p>
      <p>
        during my college years (2016-2019) i actually did have my own business,
        just like this one. it was called <strong>dot</strong>. it wasn't
        successful though simply because i didnt have enough experience
        emotionally, socially, and technologically
      </p>
      <p>
        for everyone it's different, but i believe now i'm at a point where i do
        have enough experience. this is not only due to my diverse experience
        within the field but also, emotionally as a person i feel ready. i feel
        <strong>strongly</strong> in my principles
      </p>
      <p>
        those principles embody each and every website i build. first and
        foremost, they're accessible and usable to all. they have a purpose in
        every page, in every section, in every word. their designs are personal
        and unique to them. they're built on the web, and as such respect the
        web's standards. they're built on technologies that are <em>human</em>
      </p>
      <p>
        if this resonates with you, i'd love to get in touch:
        <p>
          <address>
            <a href="tel:8622390100">862-239-0100</a> |
            <a href="mailto:sammy@bonny.systems">sammy@bonny.systems</a>
          </address>
        </p>
      </p>
    </p>
  </div>

  <style>
    .container {
      max-width: 700px;
      font-size: 1.1em;
      padding-bottom: 20px;
    }
    p {
      margin-top: 10px;
    }
  </style>
</PageLayout>
