---
import Layout from "../components/Layout.astro";
---

<Layout>
  <h1>
    <span class="bonny-text">bonny</span>
    <span class="systems-text">systems</span>
  </h1>
  <section>
    <p>
      <em
        >a studio that builds <strong>beautiful software</strong>—inside and out</em
      >
    </p>
    <p>
      <dfn title="beautiful software">beautiful software</dfn> is lovely, resilient,
      high quality, respectful, and accessible to all.
    </p>
    <p>
      we look to work with people who understand this and, together, help them
      achieve the product of their dreams.
    </p>
    <p>
      we have worked with a variety of different markets/partners focusing on
      mobile apps &amp; websites.
    </p>
    <p>
      if you'd like to get in touch, <a href="mailto:sammysamkough@gmail.com"
        >send us an email</a
      >
    </p>
  </section>
</Layout>
