---
const currentYear = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <link rel="stylesheet" href="/src/styles/globals.css" />
    <title>bonny systems</title>
  </head>
  <body>
    <header class="hero">
      <a href="/">home</a>
    </header>
    <main class="wrapper">under construction</main>
    <footer>
      &copy; {currentYear}
      <span style="color: #FF47FA">bonny</span>
      <span style="color: #00CC66">systems</span>
    </footer>
  </body>
</html>

<style>
	body {
	  display: flex;
	  flex-direction: column;
	  gap: 20px;
	  padding: 20px;
	}
  </style>