---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <div class="container">
    <section>
      <p>exploring...</p>
    </section>
  </div>
</PageLayout>

<style>
  .container {
    max-width: 400px;
  }

  section:first-of-type > p {
    margin: 4px 0px 30px;
    font-style: italic;
  }
</style>
