---
import PricingCard from "../components/PricingCard.astro";
import { PRICING_PLANS } from "../constants/pricing";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout subtitle="pricing">
  <p class="descriptor">
    a list of all the pricing plans for website development
  </p>
  <div class="pricing-plans-container">
    {Object.values(PRICING_PLANS).map((props) => <PricingCard {...props} />)}
  </div>
  <div class="faq-container">
    <h2>frequently asked questions</h2>
    <h3>what is the difference between "setup" and the "monthly"?</h3>
    <p>
      "setup" is the "setup free", aka how much it'll cost to develop the
      website
    </p>
    <p>
      "monthly" is the "monthly cost", aka how much it'll cost to maintain the
      website month-to-month
    </p>
    <p>
      if you'd prefer to pay annually, bimonthly, or another model, we'd be more
      than happy to accommodate
    </p>
    <h3>why does the basic have no monthly cost?</h3>
    <p>
      the basic does not have a monthly cost because it does not require us to
      manage the website
    </p>
    <p>
      after auditing and taking a look at your website, we can help move you off
      to another free (or paid) platform that won't require us to manage it
    </p>
    <p>
      fresh, modern, and pro plans are when we take control of the hosting of
      the website for you and thus, require a monthly cost
    </p>
  </div>
</PageLayout>

<style>
  .descriptor {
    margin-bottom: 16px;
  }
  .pricing-plans-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    margin-bottom: 16px;
  }
  h2 {
    font-family: "Rhythm";
    font-weight: 500;
    color: var(--colors-primary);
  }

  h3 {
    color: var(--colors-secondary);
  }

  .faq-container p {
    margin-bottom: 8px;
  }
</style>
