---
import PageLayout from "../layouts/PageLayout.astro";

const WORKS = [
  {
    title: "united cleaning",
    href: "https://unitedcleaningcorp.com",
  },
  {
    title: "dream bar",
    href: "https://dreambarnj.com",
  },
  {
    title: "voice for humanity",
    href: "https://voiceforhumanityproject.org",
  },
  {
    title: "crescent care women's health",
    href: "https://ccwh.netlify.app",
  },
];
---

<PageLayout subtitle="works">
  <p>these are all the websites bonny systems have worked on:</p>
  <ul>
    {
      WORKS.map(({ title, href }) => (
        <li>
          <a href={href}>{title}</a>
        </li>
      ))
    }
  </ul>
</PageLayout>

<style>
  ul {
    padding: 10px 30px;
  }
</style>
