---
import PageLayout from "../layouts/PageLayout.astro";

const WORKS = [
  {
    title: "crescent care women's health",
    href: "https://ccwh.netlify.app",
    imageSrc: "ccwh.png",
  },
  {
    title: "voice for humanity",
    href: "https://voiceforhumanityproject.org",
    imageSrc: "voice-for-humanity.png",
  },
  {
    title: "dream bar",
    href: "https://dreambarnj.com",
    imageSrc: "dream-bar.png",
  },
  {
    title: "united cleaning",
    href: "https://unitedcleaningcorp.com",
    imageSrc: "united-cleaning.png",
  },
];
---

<PageLayout subtitle="works">
  <div class="container">
    <p>these are all the websites bonny systems have worked on:</p>
    <br />
    <div class="cards-container">
      {
        WORKS.map(({ title, href, imageSrc }) => (
          <a href={href}>
            <figure>
              <img
                src={`/works/${imageSrc}`}
                alt={`screenshot of ${title}'s website'`}
              />
              <figcaption>{title}'s website</figcaption>
            </figure>
          </a>
        ))
      }
    </div>
  </div>
</PageLayout>

<style>
  .container {
    max-width: 1200px;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 24px;
    margin-bottom: 16px;
  }
  figure {
    border: 2px solid var(--colors-primary);
    padding: 16px;
  }
  figure img {
    border: 2px solid var(--colors-light);
  }
  figure figcaption {
    font-size: 1.2em;
    padding-top: 8px;
  }
  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
</style>
