---
import { getCollection } from "astro:content";
import OutreachTable from "../../components/OutreachTable.astro";
import PageLayout from "../../layouts/PageLayout.astro";
const allEntities = await getCollection("outreach");

function compare(a, b) {
  if (a.data.name < b.data.name) {
    return -1;
  }
  if (a.data.name > b.data.name) {
    return 1;
  }
  return 0;
}

const entitiesToOutreachTo = allEntities.sort(compare).filter((entity) => {
  return !entity.data?.outreached_at;
});
const outreachedEntities = allEntities.sort(compare).filter((entity) => {
  return entity.data?.outreached_at;
});
---

<PageLayout subtitle="outreach">
  <div class="container">
    <details>
      <summary>outreached entities</summary>
      <OutreachTable hasOutreached entities={outreachedEntities} />
    </details>
    <p>table that contains entities to outreach to:</p>
    <OutreachTable entities={entitiesToOutreachTo} />
  </div>
</PageLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 32px;
  }
  summary {
    text-wrap: nowrap;
    width: min-content;
  }
</style>
