---
import Layout from "./Layout.astro";

const { subtitle } = Astro.props;
---

<Layout>
  <h1>
    <a href="/"
      ><span class="bonny-text">bonny</span>
      <span class="systems-text">systems</span></a
    >{
      subtitle && (
        <span>
          | <span class="subtitle-text">{subtitle}</span>
        </span>
      )
    }
  </h1>
  <slot />
</Layout>

<style>
  .subtitle-text {
    color: var(--colors-dark);
  }
  a {
    text-decoration: none;
  }
</style>
