---
import Layout from "./Layout.astro";

const { subtitle, forceHideSubtitleText, hasLargerHeading } = Astro.props;
---

<Layout subtitle={subtitle}>
  <h1 class:list={hasLargerHeading ? ["larger-heading"] : []}>
    <a href="/"
      ><span class="bonny-text">bonny</span>
      <span class="systems-text">systems</span></a
    >{
      subtitle && !forceHideSubtitleText && (
        <span>
          | <span class="subtitle-text">{subtitle}</span>
        </span>
      )
    }
  </h1>
  <slot />
</Layout>

<style>
  a {
    text-decoration: none;
  }
  .subtitle-text {
    color: var(--colors-dark);
  }
  .larger-heading {
    font-size: 3em;
  }
</style>
