---
import PageLayout from "./PageLayout.astro";

const { frontmatter } = Astro.props;
const date = new Date(frontmatter.published_date);
const formattedPublishedDate = new Intl.DateTimeFormat("en-US", {
  dateStyle: "full",
}).format(date);
---

<PageLayout subtitle={frontmatter.title}>
  <div class="container">
    <div>
      <p><strong>author</strong>: {frontmatter.author}</p>
      <p>
        <strong>published date</strong>: {formattedPublishedDate}
      </p>
      <p><em>{frontmatter.description}</em></p>
    </div>
    <hr />
    <slot />
  </div>
</PageLayout>

<style>
  .container {
    max-width: 600px;
    font-size: 1.2em;
  }
  p {
    margin-top: 10px;
  }
  hr {
    margin: 10px 0;
  }
  h2 {
    font-size: 1.8em;
  }
</style>
