---
import PageLayout from "./PageLayout.astro";

const { frontmatter } = Astro.props;
---

<PageLayout subtitle={frontmatter.project_name}>
  <div class="container">
    <p><strong>client</strong>: {frontmatter.client_name}</p>
    <p><strong>description</strong>:<br />{frontmatter.description}</p>
    <br />
    <hr />
    <br />
    <div class="content-container">
      <slot />
    </div>
  </div>
</PageLayout>

<style>
  .container {
    max-width: 600px;
    font-size: 1.2em;
  }

  ul {
    margin-left: 1em;
  }
</style>
